<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .container {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #555;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin: 10px 0;
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to the <%= title %>!</p>
      <p>This is a basic EJS template example.</p>

      <h2>Video List</h2>
      <ul>
        <% videos.forEach(video => { %>
        <li><strong><%= video.title %></strong> - <%= video.createdAt %></li>
        <% }) %>
      </ul>
      <div id="activity"></div>
    </div>
    <button>Click me</button>
  </body>
  <script>
    const btn = document.querySelector("button");

    btn.addEventListener("click", () => {
      fetch("https://www.boredapi.com/api/activity")
        .then((res) => res.json())
        .then((res) => {
          const textNode = document.querySelector("#activity");
          textNode.textContent = res.activity;
        });
    });
  </script>
</html>
